<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- 별칭등록 -->
	<typeAliases>
		<typeAlias type="com.spring.RoadViewNavi.Model.VO.User" alias="user" />

	</typeAliases>
	<mappers>
		<mapper resource="/Mappers/Map-Mapper.xml" />
		<mapper resource="/Mappers/User-Mapper.xml" />
	</mappers>
</configuration>


















